/* Background color universal */
body {
  background-color: #f5f5f5;
  position: relative; /* Para as bolhas serem posicionadas dentro do body */
  overflow-x: hidden; /* Previne o scroll horizontal indesejado pelas bolhas */
  margin: 0;
  padding: 0;
}

body::before,
body::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.8; /* Define a opacidade das bolhas em 80% */
  z-index: -1; /* Garante que as bolhas estejam no fundo */
}

/* Configuração da primeira bolha */
body::after {
  width: 350px;
  height: 350px;
  top: -125px;
  left: -50px;
  background-color: #FFCB13;
}

/* Configuração da segunda bolha */
body::before {
  width: 350px;
  height: 350px;
  top: -30px;
  left: -125px;
  background-color: #FFD978;
}

/* Links */
.link-sem-decoracao {
  text-decoration: none;
  color: inherit;
}


/* Espaçamento do conteúdo abaixo do Header e do Logo */
.container {
  margin-top: 140px; /* Espaço apenas para os elementos abaixo do logo e header */
}

.Logo {
  position: absolute;
  top: 20px; /* Posicionamento do logo */
  left: 20px;
  max-width: 15%; /* Mantém o tamanho reduzido do logo */
}

.Relatorios,
.Inputs {
  margin-top: 40px; /* Espaço entre os componentes */
}
