/* Background color universal */
body {
  background-color: #ffffff;
  position: relative; /* Para as bolhas serem posicionadas dentro do body */
  overflow-x: hidden; /* Previne o scroll horizontal indesejado pelas bolhas */
  margin: 0;
  padding: 0;
}

body::before,
body::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.8; /* Define a opacidade das bolhas em 80% */
  z-index: -1; /* Garante que as bolhas estejam no fundo */
}

body::after {
  width: 350px;
  height: 350px;
  top: -125px;
  left: -50px;
  background-color: #FFCB13;
}

body::before {
  width: 350px;
  height: 350px;
  top: -30px;
  left: -125px;
  background-color: #FFD978;
}

/* Espaçamento do conteúdo abaixo do Header e do Logo */
.container {
  margin-top: 0px; /* Reduz o espaço para aproximar o input do topo */
}

.Logo {
  position: absolute;
  top: 20px; /* Mantém o logo no topo */
  left: 20px;
  max-width: 15%; /* Tamanho do logo */
}

.Inputs {
  margin-top: 0px; /* Aproxima o input mais do logo */
}

/* Ajuste dos relatórios */
.relatorios-isolados {
  margin-top: 40px; /* Aumenta o espaçamento entre o texto e os relatórios */
  padding: 20px; /* Espaçamento interno */
  height: auto; /* Remove qualquer altura fixa */
}

/* Espaço entre o texto e os relatórios */
.texto-relatorios {
  margin-bottom: 40px; /* Espaçamento adicional entre o texto e os relatórios */
}
