.Logo {
  position: absolute; /* Permite posicionamento preciso */
  top: 20px; /* Distância do topo da página */
  left: 20px; /* Distância do lado esquerdo da página */
  max-width: 15%; /* Ajusta o tamanho para ser menor */
}

.Logo img {
  width: 50%; /* Garante que a imagem ocupe 100% da largura disponível dentro do container .Logo */
  max-width: 50%; /* Limita a largura máxima */
}
